<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--监听的端口号-->
    <add key="Robot" value="3000" />
    <!--服务器监听的IP地址-->
    <add key="IP" value="127.1.1.1" />
    <!--服务器监听的端口地址-->
    <add key="Port" value="3000" />
    <!--检测角度用相机的ID-->
    <add key="Camera0" value="0030532f3b44_Basler_acA250014gm" />
    <!--检测角度用相机的ID-->
    <add key="Camera1" value="003053278264_Basler_acA160020gm" />
    <!--检测位置用相机的ID-->
    <add key="Camera2" value="bbb" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
